<h1>Restaurants</h1>
<div>
<% @restaurants.each do |r|%>
<ul class="list-group">
  <li class="list-group-item"> <%= link_to r.name, restaurant_path(r) %> </li>
</ul>
<% end %>
</div>

<%= link_to "create new restaurant", new_restaurant_path %>
